# Copyright (c) 2015, 2021, Oracle and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

###########################################################################
## Client parameter configuration
###########################################################################
[client]


[mysql]


###########################################################################
## Server parameter configuration
###########################################################################
[mysqld]
# Connection timeout
# The MySQL connection will be forcibly closed after being idle for a certain period of time.
# The default 'wait_timeout' is 8 hours, 'interactive_timeout' needs to be configured at the same time to take effect.
# Reference：https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-connp-props-high-availability-and-clustering.html#cj-conn-prop_autoReconnect
#
# The default value of the corresponding parameter(max-lifetime) of the Hikari connection pool is 30 minutes,
# 'wait_time' should be greater than the expiration time of the connection pool control (when no connection reservation is set 'keepaliveTime'), set to 86400 (unit: second)
interactive_timeout = 86400
wait_timeout = 86400

# Maximum number of connections
# The default maximum number of connections for each instance of a microservice is 10,
# which is configured according to the number of instances of the service.
max_connections = 10000

[mysqldump]
# When 'useServerPrepStmts=true', 'maxAllowedPacket' must be higher than 8203
max_allowed_packet = 128M